/* -------------------general---------------------- */
@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins";
  color: white;

}

body,
html {
  width: 100vw;
  overflow-x: hidden;
}

:root {
  --blue: #142840;
  --yellow: #d9ad4c;
}

#container-fluid {
  background-color: var(--blue);
}

a {
  color: white;
  text-decoration: none;
}
a:hover{
  color: white;
  cursor: pointer;
}

#container {
  width: 80%;
  margin: auto;
}

a.button {
  padding: .7rem;
  border-radius: 5px;
}

a.primary {
  /* background-color: var(--yellow);
  border: none; */
  border-radius: 4px;
  background: var(--test, linear-gradient(270deg, #dcab3f 0%, #aa7f3e 95.84%));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

a.secondary {
  color: var(--yellow);
  border: 2px solid var(--yellow);
}

/* -------------------navbar---------------------- */
nav img {
  height: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  padding-top: 1rem;
}

nav .side {
  /* width: 50%; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* font-size: small; */
  gap: 2rem;
}

/* -------------------hero---------------------- */
#hero {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#hero img {
  /* width: 100%; */
  /* transform: translateX(20%); */
}

#hero span {
  background: linear-gradient(
    88deg,
    #c09542 9.85%,
    #e8c67b 42.94%,
    #be8f32 73.66%
    );
    
    background-clip: text;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: var(--yellow); */
}

#hero div:first-child {
  display: flex;
  /* height: 468px; */
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
  align-self: stretch;
  /* width: 40%; */
}

#hero h1 {
  font-size: 50px;
}
#hero p {
  font-size: 22px;
}
#hero>*:not(h1,p) {
  font-size: 20px;
}
.hero-image {
  /* width: 100%; */
  height: max-content;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
/* .play-btn i {
  color: #142840;
} */

.flex {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
}
#imgdiv {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 100%;
}

#imgdiv img {
  /* width: 100%; */
  position: absolute;
  top: 0%;
  left: 0%;
}



/* --------------- Focus container --------------- */
#focus-faild-main {
  width: 100%;
  background: linear-gradient(91deg, rgba(255, 255, 0, 0) 0%, rgba(129, 176, 229, 0.103) 30%, rgba(238, 130, 238, 0) 58%);
  padding: 2rem 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.focus-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.focus-boxes p {
  font-size: 16px;
  color: var(--text-color-white);
}

.focus-boxes .boxe {
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  padding-right: 2.5rem;
}

.focus-boxes .boxe:last-child {
  border: none;
}

.focus-boxes .boxe h3 {
  font-size: 42px;
  font-weight: 500;
  line-height: 60px;
}



/* --------------- Focus container --------------- */
#focus-faild-main {
  width: 100%;
  background: linear-gradient(91deg, rgba(255, 255, 0, 0) 0%, rgba(129, 176, 229, 0.103) 30%, rgba(238, 130, 238, 0) 58%);
  padding: 2rem 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.focus-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.focus-boxes p {
  font-size: 16px;
  color: var(--text-color-white);
}

.focus-boxes .boxe {
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  padding-right: 2.5rem;
}

.focus-boxes .boxe:last-child {
  border: none;
}

.focus-boxes .boxe h3 {
  font-size: 42px;
  font-weight: 500;
  line-height: 60px;
}


/* -----------------circle------------------- */

.circles {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-circle {
  width: 100px;
  height: 100px;
  background-color: var(--yellow);
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  margin-right: 20px;
}

.other-elements {
  position: relative;
  top: -26%;
  left: -10%;
}

.other-elements div {
  position: absolute;
}

.other-elements div:nth-child(1) { transform: translate(150px,0); }
.other-elements div:nth-child(2) { transform: translate(calc(150px*0.877),calc(150px*0.5)); }
.other-elements div:nth-child(3) { transform: translate(calc(150px*0.877),calc(-150px*0.5)); }
.other-elements div:nth-child(4) { transform: translate(-150px,0); }
.other-elements div:nth-child(5) { transform: translate(calc(-150px*0.877),calc(-150px*0.5)); }
.other-elements div:nth-child(6) { transform: translate(calc(-150px*0.877),calc(150px*0.5)); }