/* -------------------general---------------------- */
@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins";
  color: white;

}

/* body,
html {
  width: 100%;
  height: 100%;
} */

:root {
  --blue: #142840;
  --yellow: #d9ad4c;
}

#container-fluid {
  background-color: var(--blue);
}

a {
  text-decoration: none;
}

#container {
  width: 80%;
  margin: auto;
}

a.button {
  padding: .7rem;
  border-radius: 5px;
}

a.primary {
  /* background-color: var(--yellow);
  border: none; */
  border-radius: 4px;
  background: var(--test, linear-gradient(270deg, #dcab3f 0%, #aa7f3e 95.84%));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

a.secondary {
  color: var(--yellow);
  border: 2px solid var(--yellow);
}

/* -------------------navbar---------------------- */
nav img {
  height: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  padding-top: 1rem;
}

nav .side {
  /* width: 50%; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* font-size: small; */
  gap: 2rem;
}

/* -------------------hero---------------------- */
#hero {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#hero img {
  /* width: 100%; */
  /* transform: translateX(20%); */
}

#hero span {
  background: linear-gradient(
    88deg,
    #c09542 9.85%,
    #e8c67b 42.94%,
    #be8f32 73.66%
    );
    
    background-clip: text;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: var(--yellow); */
}

#hero div:first-child {
  display: flex;
  /* height: 468px; */
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
  align-self: stretch;
  /* width: 40%; */
}

#hero h1 {
  font-size: 50px;
}
#hero p {
  font-size: 22px;
}
#hero>*:not(h1,p) {
  font-size: 20px;
}
.hero-image {
  /* width: 100%; */
  height: max-content;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
/* .play-btn i {
  color: #142840;
} */

.flex {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
}
#imgdiv {
  display: flex;
  flex-direction: column;
  position: relative;
}

#imgdiv img {
  /* width: 100%; */
  position: absolute;
  top: 0;
  left: 0;
}