/* -------------------general---------------------- */
@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins";
  color: white;
}

body,
html {
  width: 100vw;
  overflow-x: hidden;
}

:root {
  --blue: #142840;
  --yellow: #d9ad4c;
}

#container-fluid {
  background-color: var(--blue);
  overflow: hidden;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  cursor: pointer;
}

#container {
  width: 80%;
  margin: auto;
}

a.button {
  padding: 0.7rem;
  border-radius: 5px;
}

a.primary {
  /* background-color: var(--yellow);
  border: none; */
  border-radius: 4px;
  background: var(--test, linear-gradient(270deg, #dcab3f 0%, #aa7f3e 95.84%));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: inline-block;
}

a.secondary {
  color: var(--yellow);
  border: 2px solid var(--yellow);
  display: inline-block;
}

h2 {
  font-size: 35px;
  color: var(--text-color-white);
}

/* -------------------navbar---------------------- */
nav img {
  height: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  padding-top: 1rem;
}

nav .side {
  /* width: 50%; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* font-size: small; */
  gap: 2rem;
}

/* -------------------hero---------------------- */
#hero {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#hero img {
  /* width: 100%; */
  /* transform: translateX(20%); */
}

.gold {
  background: linear-gradient(
    88deg,
    #c09542 9.85%,
    #e8c67b 42.94%,
    #be8f32 73.66%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hero div:first-child {
  display: flex;
  /* height: 468px; */
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
  align-self: stretch;
  /* width: 40%; */
}

#hero h1 {
  font-size: 50px;
}

#hero p {
  font-size: 22px;
}

#hero > *:not(h1, p) {
  font-size: 20px;
}

.hero-image {
  /* width: 100%; */
  height: max-content;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

/* .play-btn i {
  color: #142840;
} */

.flex {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
}

#imgdiv {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 100%;
}

#imgdiv img {
  /* width: 100%; */
  position: absolute;
  top: 0%;
  left: 0%;
}

/* --------------- Focus container --------------- */

#focus-faild-main {
  width: 100%;
  background: linear-gradient(
    91deg,
    rgba(255, 255, 0, 0) 0%,
    rgba(129, 176, 229, 0.103) 30%,
    rgba(238, 130, 238, 0) 58%
  );
  padding: 2rem 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.focus-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.focus-boxes p {
  font-size: 16px;
  color: var(--text-color-white);
}

.focus-boxes .boxe {
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  padding-right: 2.5rem;
}

.focus-boxes .boxe:last-child {
  border: none;
}

.focus-boxes .boxe h3 {
  font-size: 42px;
  font-weight: 500;
  line-height: 60px;
}

/* --------------- Focus container --------------- */
#focus-faild-main {
  width: 100%;
  background: linear-gradient(
    91deg,
    rgba(255, 255, 0, 0) 0%,
    rgba(129, 176, 229, 0.103) 30%,
    rgba(238, 130, 238, 0) 58%
  );
  padding: 2rem 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin: 5rem 0;
}

.focus-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.focus-boxes p {
  font-size: 16px;
  color: var(--text-color-white);
}

.focus-boxes .boxe {
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  padding-right: 2.5rem;
}

.focus-boxes .boxe:last-child {
  border: none;
}

.focus-boxes .boxe h3 {
  font-size: 42px;
  font-weight: 500;
  line-height: 60px;
}

/* --------------- Markiting Analysis --------------- */
#marketing-container {
  width: 80%;
  margin: auto;
}

#marketing-container>p {
  font-size: 24px;
  color: var(--text-color-white);
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

#marketing-container h2 {
  text-align: center;
  justify-content: center;
  gap: 0.4rem;
}

#marketing-container .arrow-btn {
  width: 2.5rem;
  height: 2.5rem;
  background: linear-gradient(rgba(22, 72, 125, 1), rgba(20, 40, 64, 1));
  display: grid;
  place-items: center;
  /* border: 2px solid red; */
  border-radius: 50%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.market-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.market-content>div {
  width: 100%;
}

.market-imgs {
  width: 100%;
}

.market-content .left-content>div {
  display: flex;
  background: linear-gradient(rgba(27, 51, 81, 0.8), rgba(20, 41, 67, 0.8));
  width: 100%;
  font-size: 18px;
  color: var(--text-color-white);
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0px 25px 35px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  gap: 1rem;
  align-items: self-start;
}

.arrow-btn {
  aspect-ratio: 3/2;
}

/* .--------------- works mobile --------------- */
#mobile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 6rem auto;
  background: linear-gradient(rgba(27, 51, 81, 0.8), rgba(20, 41, 67, 0.8));
  box-shadow: 0px 25px 35px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  margin-top: 10rem;
  padding: 3rem;
}

#mobile-container>div {
  width: 100%;
}

#mobile-container .left-mobile-content h2 {
  padding-top: 2rem;
}

.work-video {
  position: relative;
}

.work-video img {
  width: 100%;
}

.trade {
  font-size: 18px;
  padding-bottom: 0.7rem;
}

#mobile-container .left-mobile-content .pade {
  line-height: 30px;
  padding: 0.8rem 0;
  font-size: 18px;
}

#mobile-container .left-mobile-content .seond-btn {
  margin-top: 1.5rem;
  display: inline-block;
}

/* -----------------circle------------------- */

.circles {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-circle {
  width: 200px;
  height: 200px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow);
  text-align: center;
  border: 1px solid #142840;
  background: linear-gradient(180deg, #16487d 0%, #142840 100%);
  box-shadow: -24px 24px 35px 0px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(2px);
  aspect-ratio: 1/1;
}

.circles .left,
.circles .right {
  /* width: 35%; */
  display: flex;
  flex-direction: column;
}
.circles > div > div {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  font-size: 1rem;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid transparent;
  border-style: solid;
  background-image: linear-gradient(
      270deg,
      #0b223a -0.94%,
      rgba(16, 31, 50, 0) 100%
    )
    padding-box;
  box-shadow: 24px 0px 50px 0px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(16px);
}
.circles .right > div {
  background: linear-gradient(90deg, #142840 -0.94%, #0b223a 100%) padding-box,
    /*this is your grey background*/
      linear-gradient(to left, #203c5e, rgba(0, 0, 0, 0)) border-box;
  align-items: flex-end;
  text-align: end;
}
.circles .left > div {
  background: linear-gradient(270deg, #142840 -0.94%, #0b223a 100%) padding-box,
    /*this is your grey background*/
      linear-gradient(to right, #203c5e, rgba(0, 0, 0, 0)) border-box; /*this is your grey background*/
  /* border-image: linear-gradient(to right, #3cf6be, rgba(0,0,0,0)) border-box; */
  align-items: flex-start;
}
.left > div:first-child,
.left > div:last-child {
  transform: translate(-50px);
}
.right > div:first-child,
.right > div:last-child {
  transform: translate(50px);
}

/* ------------------card------------------- */
.card-container {
  position: relative;
  overflow: hidden;
}

.cards {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card {
  flex: 0 0 23.5%;
  box-sizing: border-box;
  padding: 20px;
  margin: 10px;
  background: linear-gradient(270deg, rgba(27, 51, 81, 0.80) -0.94%, rgba(20, 41, 67, 0.80) 100%) padding-box,
  linear-gradient(to right, #203c5e, rgba(0, 0, 0, 0)) border-box;
}

.prev-btn,
.next-btn {
  /* position: relative; */
  bottom: 20px;
  /* transform: translateX(-50%); */
  font-size: 16px;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.prev-btn {
  left: 50%;
  background: linear-gradient(270deg, rgba(27, 51, 81, 0.80) -0.94%, rgba(20, 41, 67, 0.80) 100%) padding-box,
  linear-gradient(to right, #203c5e, rgba(0, 0, 0, 0)) border-box;
}

.next-btn {
  right: 50%;
  background: linear-gradient(270deg, rgba(27, 51, 81, 0.80) -0.94%, rgba(20, 41, 67, 0.80) 100%) padding-box,
  linear-gradient(to right, #203c5e, rgba(0, 0, 0, 0)) border-box;
/* ------------- Play video button and shadow animation ----------- */
.play-video-boxe {
  width: 3.5rem;
  height: 3.5rem;
  background: #ffffff;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.play-video-boxe::after,
.play-video-boxe::before {
  content: '';
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  background: #dad9d9;
  border-radius: 50%;
  opacity: .9;
  scale: 1..4;
}

.play-video-boxe::before {
  animation: playshadow 3s infinite ease-out;
}

.play-video-boxe::after {
  animation: playshadow 3s infinite ease-out;
  animation-delay: .4s;
}

@keyframes playshadow {
  0% {
    transform: scale(.7);
    opacity: 9;
  }

  25% {

    transform: scale(.7);
    opacity: .9;
  }

  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}

.play-video-boxe div {
  background: #ffffff;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  /* color: #142840; */
}

.play-video-boxe div svg {
  /* fill: #142840; */
  stroke: #142840;
  position: relative;
  left: 2px;
}




/* --------------- market theme --------------- */
#markter-manages {
  background: rgba(15, 29, 47, 1);
  padding: 4rem 0;

}

.market-theme-container {
  width: 80%;
  margin: auto;
}

.market-theme-container .theme-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  column-gap: 2rem;
  padding: 3rem 0;

}

.market-theme-container .theme-boxes>div {
  width: 100%;
}

.left-img-themes img {
  width: 100%;
}

.market-theme-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1rem;
  padding-left: 3rem;
}

.market-theme-content>div {
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  gap: 1rem;
  font-size: 16px;
}

.market-theme-content .flex-image {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--blue);
  height: fit-content;
  padding: 10px;
  border-radius: 50%;
}



.market-theme-content>div img {
  height: 2rem;
  width: 2rem;
  object-fit: cover;
}

.border-line {
  padding: 1px;
  background: linear-gradient(84deg, rgba(20, 40, 64, 1) 35%,rgba(22, 72, 125, 1));
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}



/* -------------- join the beta banifit -------------- */
#banifit-container {
  width: 80%;
  margin: auto;
  padding: 4rem 0;
}

#banifit-container h2 {
  text-align: center;
  
}

#banifit-container h2:nth-child(2) {
  padding-bottom: 3rem;
}

#banifit-container .benifit-boxes {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

#banifit-container .benifit-boxes .main-box {
  width: 100%;
  background: linear-gradient(rgba(27, 51, 81, 0.8),
  rgba(20, 41, 67, 0.8));
  height: 100%;
  box-shadow: 0px 27px 62px rgb(0 0 0 / 30%);
  padding-top: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
  /* margin-bottom: .2rem; */
}

#banifit-container .benifit-boxes .rank {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(15, 34, 56, 1);
  border-radius: 6px;
  display: grid;
  place-items: center;
  box-shadow: -10px 9px 5px rgba(15, 29, 47, 1);
}

#banifit-container .benifit-boxes .rank img {
  width: 60%;
  height: 60%;
  object-fit: cover;
}

#banifit-container .benifit-boxes .main-box h3 {
  font-size: 17px;
  padding: 1rem 0;
}

#banifit-container .benifit-boxes .main-box p {
  font-size: 15px;

}


#banifit-container .join-btn-guru {
  width: fit-content;
  padding-top: 2rem;
  margin: auto;
}